.container{
    max-width: 960px;
    margin: 0 auto;
    height: 500px;
}

.contain-grid{
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    
}

.contain-item1{
    flex-grow: 1;
    min-width: 33.33%;
    border: 5px solid #fff;
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    background: url("https://images.unsplash.com/photo-1513360371669-4adf3dd7dff8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80") no-repeat;
    background-size: cover;
    background-position: center;
}

.contain-item1:hover {
    opacity: 0.7;
}

.contain-item2{
    flex-grow: 1;
    min-width: 33.33%;
    border: 5px solid #fff;
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    background: url("https://images.unsplash.com/photo-1522276498395-f4f68f7f8454?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80") no-repeat;
    background-size: cover;
    background-position: center;
}

.contain-item2:hover {
    opacity: 0.7;
}

.contain-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contain-inner > div {
    padding: 5px 10px;
    background: black;
    color: #fff;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 960px){
    .contain-item{
        min-width: 50%;
    } 
}